# Ignore log files
logs/*.log
logs/*.log.*

# Python bytecode files
__pycache__/
*.py[cod]
*.class

# Virtual environments
venv/
env/
ENV/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# Configuration files
settings.json
.env

# Workspace files
shroombox3.code-workspace

# Backup files
*.bak



shroombox3/data/measurements.json
shroombox3/scripts/data/measurements.json