[Unit]
Description=Shroombox Control System
After=network.target

[Service]
Type=simple
User=root
Group=shroombox
WorkingDirectory=/home/danny/Github/shroombox/shroombox3
Environment=VIRTUAL_ENV=/home/danny/Github/shroombox/shroombox3/venv
Environment=PATH=/home/danny/Github/shroombox/shroombox3/venv/bin:/usr/local/bin:/usr/bin:/bin
Environment=PYTHONPATH=/home/danny/Github/shroombox/shroombox3
EnvironmentFile=/home/danny/Github/shroombox/shroombox3/.env
ExecStart=/home/danny/Github/shroombox/shroombox3/venv/bin/python main.py
# Restart=always
StandardOutput=append:/var/log/shroombox/main.log
StandardError=append:/var/log/shroombox/main.log

[Install]
WantedBy=multi-user.target 