<!-- Navigation Bar -->
<link rel="stylesheet" href="/static/css/navbar.css">
<script src="/static/js/navbar.js" defer></script>

<nav class="navbar">
    <div class="navbar-container">
        <a href="/" class="navbar-brand">
            Shroombox Control Panel
        </a>
        <div class="navbar-links">
            <a href="/" class="navbar-link navbar-link-home">
                Home
            </a>
            <a href="/env-settings" class="navbar-link navbar-link-env">
                Environment Settings
            </a>
            <a href="/settings" class="navbar-link navbar-link-settings">
                Advanced Settings
            </a>
            <a href="/logging" class="navbar-link navbar-link-logging">
                Logging Control
            </a>
        </div>
    </div>
</nav> 